<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="워크인_1열.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <워크인_1열.Properties.Settings>
            <setting name="CLIENT_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="CLIENT_PORT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P_METER_PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="P_METER_SPEED" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="POWER_PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="POWER_SPEED" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SERVER_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="SERVER_PORT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BATT_ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CURR_ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IO_PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="IO_SPEED" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="USE_SMARTIO" serializeAs="String">
                <value>True</value>
            </setting>
        </워크인_1열.Properties.Settings>
    </userSettings>
</configuration>